scipy
numpy
jupyter
pandas
mahotas
scikit-image
scikit-learn>=0.19
keras>=2.0.0
tensorflow
matplotlib
git+https://github.com/paris-saclay-cds/ssd_keras
git+https://github.com/paris-saclay-cds/ramp-workflow
